body {
  text-align: center;
}
img {
  width: 150px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.block,
.xat {
  position: relative;
}

.xat {
  position: absolute;
  left: -95%;
}

.word {
  position: absolute;
  top: 10%;
}

.goomba {
  position: absolute;
  top: 30vh;
  left: 20%;
}

.bgoomb {
  position: absolute;
  left: 80%;
}
