@import "./node_modules/pikaday/css/pikaday.css";

h1 {
  width: 470px;
  margin: 30px auto !important;
}

.form {
  width: 500px;
  display: block;
  margin: 0 auto;
}

fieldset {
  margin: 20px 0;
  text-align: left;
}

#resume {
  width: 400px;
  margin: 0 auto;
}
