* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.list {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}

.card {
  width: 20rem;
  height: 12vh;
  background: #e4e4e4;
  margin: 0.5vh;
  border-radius: 0.5rem;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: inherit;
  color: #2e2b2b;
}

.desc p {
  margin: 1vh 0;
}

.desc span {
  display: flex;
  align-items: center;
}
