body {
  margin: 50px auto;
  transition: 1s ease-out;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto;
  padding: 20px 0;
}

p {
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
}

figure {
  margin: 30px;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  margin: 1vh 0;
}

@media screen and (min-width: 1024px) {
  body {
    width: 50%;
  }

  h1 {
    font-size: 30px;
  }

  figure {
    width: 300px;
  }

  .imgs {
    width: 1200px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    width: 80%;
  }

  h1 {
    font-size: 25px;
  }

  figure {
    width: 170px;
    margin: 10px;
  }

  .imgs {
    width: 400px;
  }
}

@media screen and (max-width: 1500px) {
  .imgs {
    width: auto;
  }
}
