.App {
  display: block;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formCadastro {
  width: 100vh;
  margin: 0 auto;
}

.block {
  margin-top: 20px;
  display: flex;
  width: 200px;
}

fieldset {
  padding: 30px 50px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 5px 0px #ebeaea;
  margin: 20px;
}

textarea {
  margin: 5px;
  padding: 5px;
  border: 1px solid #eeeeee;
}

.texArea {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.texArea span {
  margin: 5px;
}

.largeBlock {
  display: flex;
  gap: 3rem;
}


.submint {
  background: #7ce26e;
}

.submint:hover {
  background: #74c26a;
}

.clear:hover {
  background: #e6e4e4;
}

.panelBtn {
  margin: 30px 0 50px;
}


button {
  padding: 15px 35px;
  margin: 0 20px;
  font-size: 1rem;
  cursor: pointer;
}

select {
  background: transparent;
  margin: 0 10px;
  padding: 20px 10px;
  font-size: 1rem;
  border-bottom: 1px solid #6d6d6d;
  color: #555555;
}

.formSubmit {
  padding: 30px 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
